@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: #657C8A;
}

#app {
    display: Flex;
    justify-content: center;

}

.ContainerToDo {
    margin-top: 60px;
}

.todoList {
    height: 600px;
    background-color: #A0B2BD;
    color: #D47779;
    padding: 30px;
    border-radius: 30px;
}

.list-group-item:last-child {
    background-color: inherit;
    border: none;
}

button {
    background: none;
    border: none;
}
